<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name Card</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main">
        <img class="wallpaper" src="static/images/wallpaper.jpg" name="wallpaper">
        <div class="name_card">
            <img class="profile_photo" src="static/images/photo.jpg" name="profile_photo">
            <h1 class="profile_name">Gokul Dev.P</h1>
            <h3 class="profile_job">Python Developer</h3>
            <a href="https://www.facebook.com/gokul.dev.180/" class="fa fa-facebook"></a>
            <a href="https://www.linkedin.com/in/gokul-dev-p/" class="fa fa-linkedin"></a>
            <a href="https://github.com/gokuldevp" class="fa fa-github"></a>
            <a href="https://twitter.com/GokulDevP2" class="fa fa-twitter"></a>


        </div>
    </div>
</body>
</html>
