<!DOCTYPE html>
<html lang="en">

  {% include 'header.html' %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename=post_img_path) }}') ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ blog_post['title'] }}</h1>
            <h2 class="subheading">{{ blog_post['subtitle'] }}</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August {{ blog_post['id'] }}, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ blog_post['body'] }}
        </div>
      </div>
    </div>
  </article>

  <hr>
  {% include 'footer.html' %}
